@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap");
:root {
  --black: #000;
  --white: #fff;
  --pink: #ff3968;
  --dark-pink: #930f50;
  --pink-bright: #f336eb;
  --black2: #000;
  --gry: #a20c0c;
}
* {
  padding: 0px;
  margin: 0px;
}
.navbar-brand {
  color: #fff !important;
  font-size: 30px;
  font-weight: 800;
}
html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #280319;
  color: var(--white);
}
a {
  text-decoration: none !important;
}
.mr-auto {
  margin-right: auto !important;
}
.navbar-brand img {
  width: 180px;
}
.container {
  max-width: 1200px;
}

.wraps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1000px) {
  .wraps {
    flex-direction: column;
  }
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.btn {
  line-height: 48px;
  padding: 0px 25px;
  position: relative;
  height: 48px;
  border-radius: 10px;
  color: var(--white) !important;
  font-size: 16px;
  font-weight: 600;
}
.btn-orange {
  background-color: var(--pink-bright);
  color: var(--white);
}
.btn-white {
  background-color: var(--white);
  color: var(--black) !important;
}
.btn-red {
  background-color: var(--pink);
  color: var(--white);
}
.banner-home {
  position: relative;
  background: url(../images/bg.jpg) no-repeat;
  background-size: 100% 90%;
  background-position: top center;
  padding: 80px 0px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}
.header-tele-ic img {
  width: 40px;
}
header .navbar-nav li {
  margin-right: 30px;
}
.banner-content img {
  width: 350px;
  position: relative;
}
.banner-content {
  position: relative;
  z-index: 1;
}
.banner-content span {
  font-size: 26px;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--green);
}
.banner-content h4 {
  font-size: 32px;
  display: block;
  margin-bottom: 10px;
  margin-top: 15px;
}
.banner-content p {
  font-weight: 400;
}
.swap-box {
  border-radius: 20px;
}
.timer-box {
  text-align: center;
  font-size: 26px;
}
.timer-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.timer-box ul h4 {
  font-size: 35px;
  margin-bottom: 0;
  font-weight: 800;
}
.timer-box ul span {
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin-top: -2px;
  font-family: var(--barlow);
  font-weight: 600;
  letter-spacing: 4px;
}
.timer-box ul .timer-box-in {
  background-color: var(--white);
  padding: 5px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #000;
}
.timer-box .row {
  margin-left: -10px;
  margin-right: -10px;
}
.timer-box .row li {
  padding: 0px 10px;
}
.swap-box-in h4 {
  font-size: 16px;
  margin: 0px;
  text-align: center;
}
.swap-box-in h4 b {
  color: #fdff00;
}
.progress-box {
  margin: 10px 0px;
  height: 20px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  overflow: hidden;
}
.progress-box p {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  line-height: 18px;
}
.progress-box span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--pink);
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
}
.form-group .form-control {
  height: 45px;
  border-radius: 10px;
}
.form-input {
  position: relative;
}
.form-input .input-icon {
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  align-items: center;
  height: 45px;
}
.form-input .input-icon img {
  width: 26px;
}
.form-input .input-icon span {
  display: block;
}
.banner-right {
  width: 500px;
}
.btn-green {
  background-color: var(--green);
  color: var(--black) !important;
}
.swap-box-head {
  margin: 15px 0px;
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.heading-text h4 {
  font-size: 55px;
  font-weight: 800;
}
.headings h4 {
  font-size: 38px;
  font-weight: 800;
}
.headings p {
  font-size: 16px;
}
.heading-text p {
  font-size: 18px;
}
.section-padding {
  padding: 100px 0;
}
body.fixed header {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}
.banner-join {
  margin: 0px;
  border: 4px solid #ccc;
}
.utility-box article figure {
  margin-bottom: 40px;
}
.utility-box article figure img {
  width: 80px;
}
.utility-box article {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}
.utility-box.row > * {
  display: flex;
}
.utility-box article h4 {
  font-size: 22px;
}
.utility-box article {
  border-radius: 100px;
  margin: 15px 0;
}
.utility-box article p {
  margin: 0;
}
.footer-logo img {
  width: 200px;
  margin-bottom: 40px;
}
.foot-last {
  padding: 15px;
  padding-bottom: 40px;
  opacity: 0.7;
}
.roadmap-box {
  width: 45%;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 40px 20px;
}
.roadmap-list {
  max-width: 1000px;
  margin: auto;
}
.roadmap-list li {
  display: flex;
  position: relative;
  padding-bottom: 60px;
}
.roadmap-list li:last-child {
  padding-bottom: 0;
}
.roadmap-list li:after {
  content: "";
  width: 3px;
  background: var(--green);
  position: absolute;
  right: 50%;
  top: 0;
  height: 100%;
}
.roadmap-list li:nth-child(even) .roadmap-box {
  margin-left: auto;
  text-align: left;
}
.roadmap-box h4 {
  color: var(--green);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.roadmap-box h2 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 30px;
}
.roadmap-text p {
  margin-bottom: 10px;
  position: relative;
  padding-right: 30px;
}
.roadmap-text p:after {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  width: 10px;
  height: 10px;
  background: var(--green);
}
.roadmap-text p:last-child {
  margin-bottom: 0;
}
.roadmap-list li:nth-child(even) .roadmap-text p {
  padding-left: 30px;
  padding-right: 0;
}
.roadmap-list li:nth-child(even) .roadmap-text p:after {
  right: auto;
  left: 0;
}
.roadmap-list li:before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: var(--green);
  position: absolute;
  right: 48.6%;
  top: 0;
  border: 5px solid #fff;
  z-index: 1;
}
.join-sec-in {
  color: var(--black);
  height: 300px;
  background: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.join-sec-in h2 {
  font-size: 85px;
}
footer {
  margin-bottom: 30px;
}
footer .container {
  background-color: #050b19;
  max-width: 95%;
  text-align: center;
  border-radius: 30px;
  padding-top: 50px;
}

@keyframes walk {
  from {
    background-position: bottom left;
  }
  to {
    background-position: bottom right;
  }
}
.banner-content h1 {
  font-size: 55px;
  font-weight: 800;
  line-height: 50px;
  position: relative;
}
.banner-content h4 {
  font-size: 26px;
}
.swap-form .form-control {
  background-color: rgba(255, 255, 255, 1);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border: none;
}
.bg-block {
  display: none;
}
.bg-block.active {
  display: block;
}
.how-to-buy {
  background: url(../images/star.gif);
  background-repeat: repeat;
  background-size: auto;
  position: relative;
}

.headings {
  margin-bottom: 50px;
}
.steps-how-buy ul {
  padding: 0;
  margin: 0;
}
.steps-how-buy ul li {
  list-style: none;
}
.steps-how-buy ul li article {
  list-style: none;
  background-color: rgba(136, 136, 136, 0.3);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
.steps-how-buy .row > * {
  display: flex;
}
.steps-how-buy .row > * > article {
  width: 100%;
}
.right-how p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #cacaca;
}
.right-how p:last-child {
  margin-bottom: 0;
}
.left-how figure {
  margin-bottom: 0;
  width: 50px;
  min-width: 50px;
  margin-right: 30px;
}
.left-how figure img {
  width: 100%;
}
.about-section {
  background: var(--dark-pink);
}
.about-section .heading-text p {
  margin-bottom: 0;
}
.divider {
  height: 2px;
  width: 70px;
  background: var(--white);
  display: inline-block;
  margin: 10px 0;
}
.utility-box article .divider {
  margin: 5px 0px;
}
.roshi-crypto-in {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.roshi-crypto-in p {
  font-size: 24px;
  margin-top: 10px;
}
.roshi-crypto-in img {
  width: 550px;
  margin: auto;
  display: block;
}
.roshi-crypto-in h2 {
  font-size: 85px;
  text-align: center;
  font-weight: 900;
  position: relative;
  margin-bottom: 0;
  line-height: 80px;
  margin-top: 50px;
}
.bg-wrap {
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.why-section-2 {
  position: relative;
}
.why-section-2:after {
  content: "";
  width: 400px;
  background: url(../images/Union.png);
  height: 400px;
  position: absolute;
  left: 10%;
  top: 0;
  background-size: 100%;
  background-repeat: no-repeat;
}
.why-section-2:before {
  content: "";
  width: 400px;
  background: url(../images/Union.png);
  height: 400px;
  position: absolute;
  right: 0%;
  bottom: 5%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.list-why h4 {
  margin-bottom: 0;
  font-size: 20px;
}
.list-why p {
  margin-bottom: 0;
  opacity: 0.6;
}
.list-why ul li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 10px;
}
.why-section-2 .row {
  position: relative;
  z-index: 1;
}
.timer-box {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  margin-top: 15px;
}
.swap-box-in {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  margin-top: 15px;
}
.why-section {
  background: rgb(5, 2, 11);
  background: linear-gradient(
    90deg,
    rgba(5, 2, 11, 1) 0%,
    rgba(20, 3, 69, 1) 51%,
    rgba(69, 6, 105, 1) 100%
  );
}
.how-to-buy:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  content: "";
  position: absolute;
}
.how-to-buy:before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  content: "";
  position: absolute;
}
.pre-box-in {
  background: #345fde;
  padding: 50px 150px;
  border-radius: 400px;
}
.msg-text {
  margin-top: 20px;
}
.msg-text h2 {
  padding: 30px 15px;
  display: inline-block;
  background: var(--pink);
  border-radius: 20px;
  text-align: center;
}
.about-section .heading-text {
  display: flex;
  margin-bottom: 30px;
}
.about-section .heading-text:last-child {
  margin-bottom: 0;
}
.about-section .heading-text p {
  opacity: 0.7;
}
.about-section .col-md-6 > div {
  width: 100%;
}
.about-section .heading-text figure {
  margin-bottom: 40px;
}
.about-section .heading-text figcaption {
  width: 100%;
}
.about-section .heading-text figure img {
  width: 80px;
}
.about-section {
  background: rgb(5, 2, 11);
  background: linear-gradient(
    90deg,
    rgba(5, 2, 11, 1) 0%,
    rgba(20, 3, 69, 1) 51%,
    rgba(69, 6, 105, 1) 100%
  );
}
.tokenomics-list li {
  padding: 15px 20px;
  background-color: #222121;
  list-style: none;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #393839;
}
.tokenomics-list li h4 {
  font-size: 20px;
}
.tokenomics-list li p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
}
.tokenomics-list li:nth-child(1) {
  border-left: 5px solid #e8eb61;
}
.tokenomics-list li:nth-child(2) {
  border-left: 5px solid #de4b4b;
}
.tokenomics-list li:nth-child(3) {
  border-left: 5px solid #8d55d6;
}
.tokenomics-list li:nth-child(4) {
  border-left: 5px solid #42d6f6;
}
.tokenomics-list li:nth-child(5) {
  border-left: 5px solid #e72aa6;
}
.tokenomics-list li:nth-child(even) {
  margin-left: -100px;
}
.tokenomics-list {
  padding: 0;
}

.hero-sec-text {
  text-align: center;
  min-height: 600px;
  display: flex;
  align-items: center;
}
.hero-sec-text h1 {
  font-size: 65px;
  font-weight: 800;
  line-height: 65px;
}
.below {
  margin-top: 30px;
}
.hero-sec-text p {
  font-size: 18px;
  max-width: 750px;
  margin: auto;
}
.btn-heroz {
  margin-top: 30px;
  background: #ff3968;
  padding: 14px 32px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 2px solid transparent;
  color: white;
}
.hero-sec {
  background: url(../images/bgbg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 80px;
}
.presale-left-in {
  background: var(--pink);
  padding: 20px;
  border-radius: 10px;
}
.presale-right-in {
  background: var(--dark-pink);
  padding: 20px;
  border-radius: 10px;
}
.presale-left-in h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}
.time-number {
  background: linear-gradient(
    0deg,
    rgba(255, 121, 151, 0) 0%,
    rgba(255, 121, 151, 1) 100%
  );
  height: 85px;
  font-size: 45px;
  font-weight: 900;
  border: 1px solid #ffb1c3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presale-time span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-top: 10px;
}
.form-input input {
  width: 100%;
  background-color: #7c0c50;
  border: 1px solid #b21875;
  border-radius: 10px;
  height: 50px;
  color: #fff;
  padding-left: 55px;
}
.form-input {
  position: relative;
}
.form-input-ic {
  position: absolute;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  padding: 8px;
}
.form-input-ic img {
  width: 100%;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.presale-head-right p {
  margin-bottom: 0;
  font-size: 18px;
}
.presale-head-right {
  margin-bottom: 15px;
}
.presale-box {
  margin-top: -100px;
}
.presale-box .container > .row > * {
  display: flex;
}
.presale-box .container > .row > * > div {
  width: 100%;
}
.presale-left-in {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.presale-left-in article {
  width: 100%;
}
.pre-box .container {
  max-width: 95%;
}
.qr-img {
  width: 220px;
  margin-bottom: 50px;
}
.qr-img img {
  width: 100%;
}
.section-story img {
  width: 100%;
  object-fit: contain;
  height: 100%;
  object-position: center;
}
.section-story figure {
  height: 300px;
  margin-bottom: 40px;
}
.section-story {
  background: rgb(5, 2, 11);
  background: linear-gradient(
    183deg,
    rgba(5, 2, 11, 1) 0%,
    rgba(20, 3, 69, 1) 51%,
    rgba(69, 6, 105, 1) 100%
  );
}
.section-story article {
  border: 1px solid;
  border-radius: 20px;
  width: 100%;
  padding: 30px;
  text-align: left;
}
.section-story .col-md-6 {
  display: flex;
  text-align: center;
}
.section-story .heading-text h4 {
  font-size: 40px;
}
.roadmap-sec {
  background: #050b19;
}
.roadmap-sec ul li {
  display: flex;
  position: relative;
  list-style: none;
  background-color: #7c0c50;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 20px;
}
.roadmap-sec ul li .phase-box {
  width: 120px;
  min-width: 120px;
}
.roadmap-sec ul {
  padding: 0;
  margin: 0;
}
.phase-box span {
  font-size: 20px;
  text-align: center;
  display: block;
  background: var(--pink-bright);
  padding: 5px 10px;
  border-radius: 10px;
}
.phase-details span {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid var(--pink);
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.phase-details {
  width: 100%;
  padding-left: 30px;
}
a {
  color: #ff3968;
}

.centerr {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: fit-content !important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link,
.nav-link:hover {
  color: var(--pink) !important;
  font-weight: 600 !important;
}

.prefer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 8px 20px;
  text-align: center;
  opacity: 0.8;
}

.prefer a {
  color: var(--orange);
  font-weight: 700;
}

.spt {
  font-family: "Titan One", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #98130a;
  padding-top: 5px;
}

.spanT {
  font-size: 24px;
  font-weight: 600;
  color: var(--orange);
}

.admin label {
  display: flex;
  text-align: left !important;
}

/* .form-input input {
  color: #fff !important;
} */

.timer-box .row li {
  width: 33% !important;
}

.wallet-adapter-button-trigger {
  background-color: var(--pink) !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 10px !important;
  padding: 0px 25px !important;
  /* border: 3px solid var(--light-yellow) !important; */
}

.wallet-adapter-dropdown {
  display: flex !important;
  justify-content: center !important;
}

::placeholder {
  color: #fff !important;
  font-size: 13px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

/* div:where(.swal2-icon).swal2-success [class^=swal2-success-line] {
  background-color: var(--red) !important;
}

div:where(.swal2-icon).swal2-success {
  border-color: var(--red) !important;
  color: var(--red) !important;
}

div:where(.swal2-icon).swal2-success .swal2-success-ring {
  border: 0.25em solid rgb(241 91 91 / 30%) !important;
} */

.footer-logo {
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.social {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin: auto;
}

.social img {
  width: 50px !important;
  margin-bottom: 40px;
}

.owl-carousel.owl-drag .owl-item {
  width: unset !important;
}

.twitter1 {
  border-radius: 50% !important;
  height: 50px !important;
}

.form-control:disabled {
  background-color: #7c0c50 !important;
}
